<div class='product-container product-info-container'>
  <div class='row'>
    <div class='column'>
      <p>Keep your coffee hot!</p>
      <p>A mug is a type of cup used for drinking hot beverages, such as coffee, tea, hot chocolate or soup. Mugs
        usually have handles, and hold a larger amount of fluid than other types of cup. Usually a mug holds
        approximately 12 US fluid ounces (350 ml) of liquid; double a tea cup. A mug is a less formal style of drink
        container and is not usually used in formal place settings, where a teacup or coffee cup is preferred.</p>
        <star-rating [rating]="3" [starType]="'icon'" size="large"></star-rating>
    </div>
    <div class='column'>
      <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
    </div>
  </div>
</div>
<div class=" product-container product-price-container">
  <div class="row">
    <div class="column">
      <p>
        Price:37$
      </p>
    </div>
  </div>
</div>
<div class="reviews">
  <p>this is a review</p>
</div>