<div class="home-container">
  <ul class="list-box">
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
    <li class="list-item">
      <div class="item-image">
        <a href="#">
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <a href="#">Umidigi One Pro 4G RAM 64GB ROM
            5.9"Mobile phone Helio P23 Octa Core Android 8.1 12MP+5MP Dual Cam wireless charge 4G Cell phone</a>
        </div>
        <div class="detail-price">US $159.37</div>
        <div class="detail-oriprice">US $212.49</div>
        <div class="detail-discount">25% off</div>
        <div class="detail-orders">152 Orders</div>
      </div>
    </li>
  </ul>
</div>