.list-box {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
  }
img{
    width:150px;
    height: 150px;
}
.list-item{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    width: 30%;
    background-color: white;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.list-item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* .detail-title{
    text-decoration: none;
} */
.detail-title{
    height: 3rem;
    overflow: hidden;
    font-weight: bold;
    width: 250px;
    line-height: 1.2;
}

.detail-title:after {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.detail-title div {
    display: inline-block;
    display: -webkit-inline-box;
    max-height: 100%;
    vertical-align: middle;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* .home-container{
    padding: 15px;
    padding-top: 75px;
} */
.rating{
    justify-content: normal;
}
.loader{
    padding: 300px;
}
.detail-discount{
    display: inline-block;
    padding: 1px 10px;
    height: 17px;
    border-radius: 100px;
    background: #FF4747;
    color: #fff;
    line-height: 15px;
}