<div class="home-container">
  <div class="loader" *ngIf="!products?.length > 0">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
  <ul class="list-box">
    <li class="list-item" *ngFor="let product of products" routerLink="['/product',hero.id]" routerLinkActive="active"
      (click)="gotoProductDetailsV2('/product',product.id)">
      <div class="item-image">
        <a>
          <img src="//ae01.alicdn.com/kf/HTB1cPz2eXzqK1RjSZFoq6zfcXXaN.jpg_350x350.jpg" style="visibility: visible;">
        </a>
      </div>
      <div class="item-detail">
        <div class="detail-title">
          <div>{{ product.title }}</div>
        </div>
        <div class="detail-price">US {{ product.price}}</div>
        <div class="detail-discount">25% off</div>
        <div class="rating">
          <star-rating [rating]="3" [starType]="'icon'"></star-rating>
        </div>
      </div>
    </li>
  </ul>
</div>